/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

body {
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: 20.14vw;
  margin-right: 20.14vw;
  background-color: white;
}

h1 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 500;
  font-size: 64pt;
  line-height: /*77px*/55px;
  margin-top: -1%;
}
h2 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 40pt;
  line-height: /*48px*/10px;
}

h1 + h2 {
  margin-top: -7%;
}

h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18pt;
  line-height: 28px;
}

h4 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 16pt;
  line-height: 28px;
}

p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 18pt;
  line-height: 28px;
}

button {
  background-color: #F4CE14;
  border-radius: 16px;
  border: none;
  color: black;
  padding: 10pt 30pt;
  display: grid;
  align-items: center;
  text-align: center;
  text-decoration: none;
  gap: 6px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16pt;
  line-height: 20px;
  height: max-content;
  width: max-content;
}

nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 9%;
  padding-top: 21px;
  padding-bottom: 21px;
}

nav img {
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1%;
}
a {
  text-decoration: none;
  color: black;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16pt;
  line-height: 20px;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14vw;
  justify-content: space-between;
  padding-top: /*87px*/3%;
  padding-bottom: /*73px*/3%;
  margin-bottom: 17%;
  margin-left: -20.14vw;
  margin-right: -20.14vw;
  padding-left: 20.14vw;
  padding-right: 20.14vw;
  background-color: #495E57;
  position: relative;
}
.headerbox {
  
}

/*
.headerbox:before {
  content:"";
  background-color:#495E57;
  position: absolute;
  height: 55%;
  width: 100vw;
  left: 0vw;
  z-index: -1;}
*/
header h1 {
  color: #F4CE14;
}
header h2 {
  color: white;
}
header p {
  color: white;
}

header img {
  width: 100%;
  height: 150%;
  max-height: 60vh;
  object-fit: cover;
  margin-bottom: -90%;
  border-radius: 16px;
}
/*header img {
  position: relative;
  /*clip: rect(0%,0%,0%,25px);
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  height: 75%;
  justify-self: right;
  float: right;
}*/

.specialstitle {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
}
.specialstitle button {
  align-items: center;
}
.specialscardssection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  padding-bottom: 10%;
}
.specialscardssection img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
.specialscard{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #EDEFEE;
  display: grid;
  grid-template-rows: 37% 10% 40% 13%;
}
.specialscard div {
  padding-left: 5%;
  padding-right: 5%;
}
.specialscard p {
  padding-left: 7%;
  padding-right: 7%;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16pt;
  line-height: 22pt;
}

.specialnameprice{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.price{
  color: #495E57;
  justify-self: end;
}
.deliveryscooter {
  display: inline-flex;
  align-items: center;
}
.deliveryscooter p {
  padding-left: 2%;
  padding-right: 0%;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 15pt;
  line-height: 15pt;
}
.deliveryscooter img {
  width: 2em;
  height: 2em;
}

main h2 {
  text-align: center;
  padding-bottom: 2%;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
  align-items: baseline;
  padding-bottom: 10%;
}
.rating img {
  width: 15%;
  max-height: auto;
  object-fit: scale-down;
}
.client img {
  width: 65%;
  height: auto;
  object-fit:cover;
  border-radius: 16px;
}
.client h4 {
  padding-left: 2%;
  align-self: center;
}
.testimonialcard p {
  line-height: 18pt;
  text-align:start;
  margin-top: 4%;
}
.testimonialcard > div {
  display: inline-flex;
}

.aboutsection {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 5%;
  padding-bottom: 10%;
}
.aboutsection h1 {
  text-align: start;
  color: #495E57;
}
.aboutsection h2 {
  text-align: start;
}
.aboutsection p {
  text-align: justify;
}

.aboutimages {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
.aboutimages_top {
  grid-column: 1 / span 8;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1;
}
.aboutimages_bottom {
  grid-column: 6 / -1;
  grid-row: 1;
}
.aboutimages img {
  border-radius: 16px;
  max-width: 125%;
  max-height: 125%;
  object-fit: fill;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10%;
  justify-content: space-between;
  padding-top: /*87px*/3%;
  padding-bottom: /*73px*/0%;
  margin-bottom: 0%;
  margin-left: -20.14vw;
  margin-right: -20.14vw;
  padding-left: 20.14vw;
  padding-right: 20.14vw;
  background-color: #495E57;
  position: relative;
}

footer img {
  background-color: #EDEFEE;
  padding: 10%;
  width:auto;
  max-height: 150%;
  border-radius: 16px;
  align-self: baseline;
  margin-top: 15%;
}
footer ul {
  list-style: none;
  text-align: baseline;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px 1%;
}
footer h3 {
  padding-top: 0%;
  line-height: 20pt;
  color: #F4CE14;
}
footer h4 {
  text-decoration: none;
  color: white;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 14pt;
  line-height: 0px;
}